<!doctype html>
<html lang="pt-br">
<head>
   <meta charset="utf-8">
   <title>FoxTrot-Novo Produto</title>
   <meta name="description" content="Site de brinquedos, colecionaveis">
   <meta name="keywords" content="Site, Tutorial, Aplicativo, App">
   <meta name="author" content="Julia Visolli, José Wagner">
   <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="../fontawesome/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="../css/login.css">
   <link rel="stylesheet" type="text/css" href="../css/style.css">
   <link rel="shortcut icon" href="../img/logo/LogoFoxtrot.png">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
       <div class="box-logo center-block">
           <a href="login.html"><img class="img-responsive" src="../img/logo/LogoFoxtrot.png"></a>
       </div>
    </header>
    <section class="pd-full-40 bg-foxtrot text-center">
         <div class="box-form-login center-block bg-orange pd-full-20 br-4">
            <form class="form-template">
                <h1>Novo Produto</h1>
                <div class="form-group">
                  <input type="name" class="form-control form-name" id="exampleInputname" placeholder="Nome do produto">
                </div>
                <div class="form-group">
                 <input type="text" class="form-control form-email" id="exampleInputemail" placeholder="Descrição do produto">
               </div>
               <div class="form-group">
                 <input type="number" class="form-control form-number" id="exampleInputnumber" placeholder="Preço">
               </div>
               <div class="form-group">
                 <input type="number" class="form-control form-desc" id="exampleInputpassword" placeholder="Desconto">
               </div>
               <div class="novoproduto-categoria">
                  <p>Categoria</p>
                </div>

                <select class="form-group form-control">
                    <option value="1">Jogos</option>
                    <option value="1">Jogos cartas</option>
                    <option value="2">Carrinhos</option>
                    <option value="3">Pistas e Autoramas</option>
                    <option value="4">Quebra Cabeça</option>
                    <option value="5">Colecionaveis</option>
                    <option value="6">Pelúcias</option>
                </select>

                <div class="form-group">
                  <label form="exampleInputFile" class="label-novoproduto">Insira a imagem</label>
                </div>
                <div class="caixa-imgproduto">

                </div>
                 <input type="file" class="input-novoproduto">
                 <button type="submit" class="btn btn-default btn-login-enviar bg-foxtrot">Gravar</button>
            </form>
         </div>
         <footer>
          <div class="footer-novoproduto">
            <p>Sistemas para internet</p>
            <img src="http://www.sp.senac.br/menu/img/logo_branco.png;waa0bdea84fa6e0777" width="80" height="16">
          </div>
        </footer>
</section>
</body>
</html>
